@{
    ViewBag.Title = "Manage Last Entry Date";
}

<div ng-controller="lastEntryController" class="container">
    <p class="cls-header">Mangage Hospital's Last Entry Date</p>
    <div class="row mb-4">
        <div class="col-6">
            <label class="form-label">
                Search
            </label>
            <input style="width: 90% !important" type="text" class="form-control w-50 m-1" placeholder="Search here" ng-model="searchkey" />
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col-7">
                    <label class="form-label">
                        Update All Entry Last date
                    </label>
                    <input style="width: 90% !important" type="text" class="form-control w-50 m-1" placeholder="Enter last date" ng-model="EntryLastDate" />
                    <span class="small text-danger" ng-if="!(EntryLastDate * 1) && EntryLastDate">Must be a number</span>
                    <span class="small text-danger" ng-if="EntryLastDate > 31 && EntryLastDate">Should be less than 31</span>
                </div>
                <div style="align-self: center !important" class="col-5">
                    <button ng-disabled="!EntryLastDate || EntryLastDate > 31 || !(EntryLastDate * 1)" ng-click="updateAllHospitalMaster()" class="btn btn-warning mt-4" type="button">Update All</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">S.No</th>
                        <th scope="col">Hostpital Name</th>
                        <th scope="col">Hospital Id</th>
                        <th scope="col">Entry Last date</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="data in AllHospitalsList | filter: searchkey">
                        <td>{{$index+1}}</td>
                        <td>{{data.HospitalName}}</td>
                        <td>{{data.HospitalId}}</td>
                        <td>
                            <input type="text" class="form-control" ng-model="data.EntryLastDate" />
                            <span class="small text-danger" ng-if="!(data.EntryLastDate * 1) && data.EntryLastDate">Must be a number</span>
                            <span class="small text-danger" ng-if="data.EntryLastDate > 31 && data.EntryLastDate">Should be less than 31</span>
                        </td>
                        <td><button class="btn btn-warning" ng-disabled="!data.EntryLastDate || data.EntryLastDate > 31 || data.EntryLastDate < 1 || !(data.EntryLastDate * 1)" ng-click="updateHospitalMaster(data)" type="button">Update</button></td>
                    </tr>
                </tbody>
            </table>
            <p class="text-danger" ng-if="(AllHospitalsList | filter: searchkey).length == 0">No search records matched</p>
        </div>
    </div>
</div>