@{
    Layout = null;
    ViewBag.Title = "Index";
}
<style type="text/css">
    .login_error {
        text-align: center;
        color: #6d6464;
        font-size: 1.2em;
        font-family: serif;
    }

    .company-logo {
        margin-top: 5%;
        text-align: center;
    }

    body {
        background: #f0f0f0;
    }
</style>
<div class="company-logo"><img width="150" src="~/Content/images/logo.png" /></div>
<p class="login_error">You are not logged in. You must login via Light house to access the Nursing application. <a href="https://apps.apollohospitals.com/lighthouse/home.php">Click here</a> to access lighthouse.</p>